<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Conexão com o banco PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/SistemaMarmitech</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>

        <!-- Dialeto para PostgreSQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Mostrar comandos SQL no console -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Criar ou atualizar tabelas automaticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento das entidades -->
        <mapping class="org.example.model.entities.UsuarioEntity"/>
        <mapping class="org.example.model.entities.ProdutoEntity"/>
        <mapping class="org.example.model.entities.FilaPedidoEntity"/>
        <mapping class="org.example.model.entities.HistoricoPedidoEntity"/>
        <mapping class="org.example.model.entities.ProdutoPedidoEntity"/>
        <mapping class="org.example.model.entities.ProdutoHistoricoPedidoEntity"/>

    </session-factory>
</hibernate-configuration>
